.myAbout {
    margin-top: 260px;
    .container {
        .about_content {
            background-color: white;
            padding-top: 30px;
            .row {
                padding-bottom: 10px;
                .about_info {
                    padding-left: 50px;
                    padding-right: 75px;
                    p {
                        text-align: justify;
                        span {
                            @include text(#4dbfd9, 18px, $fw-bold);
                            color: #4dbfd9;
                        }
                        @include respond-to("576") {
                            text-align: left;
                        }
                    }
                }
                .about_living {
                    padding-right: 50px;
                    .basic_info {
                        .row {
                            .tittle {
                                h6 {
                                    @include text($color-black-0, $fs-1, $fw-bold);
                                    margin-top: 8px;
                                }
                            }
                            .info {
                                h6 {
                                    @include text($color-gray-4, $fs-1, $fw-bold);
                                    margin-top: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
