.myFooter {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    .footer_content {
        background-color: transparent;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 35px;
        padding-right: 35px;
        h3 {
            @include text($color-black-0, $fs-4, $fw-bold);
        }
        .contact {
            margin-top: 10px;
            i {
                margin: 5px 15px;
                font-size: 20px;
                cursor: pointer;
                transition: all 0.5s;
                color: white;
                &:hover {
                    color: lightblue;
                }
            }
        }
        .copyright {
            margin-top: 20px;
            h5 {
                margin-bottom: 0;
                @include text($color-black-0, $fs-0, $fw-normal);
                i {
                    margin: 10px 10px;
                }
            }
        }
        h5 {
            @include text($color-black-0, $fs-0, $fw-normal);
        }
    }
}
