.myHeader {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        .header_contact {
            display: flex;
            padding-top: 30px;
            padding-bottom: 30px;
            justify-content: space-between;
            background-repeat: no-repeat;
            .name {
                padding-top: 5px;
                @include text($color-white-0, $fs-1, $fw-bold);
            }
            .contact {
                text-align: right;
                p {
                    margin-bottom: 2px;
                    @include text($color-white-0, $fs-1, $fw-bold);
                }
                p:last-child {
                    font-size: 20px;
                }
            }
        }
        .header_intro {
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding-top: 20px;
            height: 450px;
            img {
                margin-top: 20px;
                width: 150px;
                height: 150px;
                border-radius: 150px;
            }
            .intro {
                margin-top: 20px;
                h2 {
                    @include text($color-white-0, $fs-4, $fw-bold);
                }
                h6 {
                    @include text($color-white-0, $fs-1, $fw-bold);
                }
            }
            .contact {
                margin-top: 30px;
                span {
                    margin: 0 5px;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 0.5s;
                    color: white;
                    &:hover {
                        color: lightblue;
                    }
                }
            }
            .resume {
                margin-top: 80px;
                text-align: right;
                button {
                    @include text($color-white-0, $fs-1, $fw-bold);
                    padding: 5px 10px;
                    border: 1px solid transparent;
                    background-color: transparent;
                    border-radius: 5px;
                    transition: all 0.5s;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        background-color: #3eb0ca;
                    }
                }
            }
        }
    }
}
