.caption {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .caption {
    text-align: center;
  }
}

.highlight-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #4dbfd9;
  margin-bottom: 10px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 10px;
}

.text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 5px;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  background-color: #f2f3f5;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

section[id] {
  scroll-margin-top: 30px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background: url("./../../images/bg-1.jpg") no-repeat top/100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.basebtn {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  height: 25px;
  padding: 0 5px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
}
.basebtn:hover {
  text-decoration: none;
}
.basebtn--resume {
  height: 30px;
  padding: 0 15px;
  color: white;
  transition: all 0.5s;
}
.basebtn--resume:hover {
  background-color: #007791;
  color: #fff;
}
.basebtn--link {
  color: black;
  font-weight: 500;
  border: #1cd94e 1px solid;
  border-radius: 5px;
  transition: all 0.5s;
}
.basebtn--link:hover {
  background-color: #1cd94e;
  color: #fff;
}

section {
  display: none;
}

@media screen and (max-width: 767px) {
  .about-main,
  .experience-main,
  .skill-main,
  .project-main {
    padding-bottom: 0px !important;
  }
}
@media screen and (max-width: 767px) {
  .mobile-pt {
    padding-top: 30px;
  }
}

.info {
  display: block;
  margin-bottom: 30px;
  padding-top: 300px;
}
.info-main {
  padding: 15px 0;
  background: url("./../../images/bg-2.jpg") no-repeat top/100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  position: relative;
}
.info-portrait {
  display: block;
  max-width: 100%;
}
.info-content {
  text-align: center;
}
.info-name {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}
.info-job {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}
.info-link {
  transition: all 0.5s;
  color: #fff;
  margin: 0 5px;
}
.info-resume {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1599px) {
  .info {
    padding-top: 150px;
  }
}
@media screen and (max-width: 1023px) {
  .info {
    padding-top: 120px;
  }
}
@media screen and (max-width: 767px) {
  .info {
    padding-top: 90px;
  }
}
@media screen and (max-width: 539px) {
  .info {
    padding-top: 45px;
  }
  .info-portrait {
    max-width: 50%;
  }
  .info-resume span {
    display: none;
  }
  .info-resume::after {
    content: "My CV";
  }
}
@media screen and (max-width: 374px) {
  .info-name {
    font-size: 25px;
  }
}

.about {
  display: block;
}
.about-main {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 50px;
}
.about-info {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-gap: 0 10px;
}
.about-paragraph {
  text-align: justify;
}
.about-img {
  padding-top: 10px;
}
.about-signature {
  height: 65px;
  transform: translateX(-25px);
}
.about-heading {
  font-size: 15px;
  font-weight: 500;
}
.about-text {
  color: #686f7a;
}
@media screen and (max-width: 767px) {
  .about-main {
    grid-template-columns: 1fr;
  }
  .about-info {
    grid-template-columns: 1fr 1fr;
  }
  .about-img, .about-signature {
    margin: 0 auto;
  }
  .about-signature {
    transform: unset;
  }
}
@media screen and (max-width: 374px) {
  .about-main {
    grid-template-columns: 1fr;
  }
}

.experience {
  display: block;
}
.experience-main {
  padding: 30px 0;
}
.experience-child {
  margin-bottom: 10px;
}
.experience-child .progress {
  height: 3px;
}
.experience-company-logo {
  margin-right: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid lightsteelblue;
  border-radius: 50%;
}
.experience-role {
  font-family: "Caprasimo", cursive;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 5px;
}
.experience-ul {
  padding-left: 20px;
}
.experience-liBlack::marker {
  color: black;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .experience-ul {
    text-align: justify;
  }
}

.skill {
  display: block;
}
.skill-main {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 50px;
}
.skill-experience {
  margin-bottom: 10px;
}
.skill-experience .progress {
  height: 3px;
}
.skill-ul {
  padding-left: 20px;
}
.skill-liRed::marker {
  color: red;
  font-size: 20px;
}
.skill-liBlue::marker {
  color: blue;
  font-size: 20px;
}
.skill-liYellow::marker {
  color: yellow;
  font-size: 20px;
}
.skill-liGreen::marker {
  color: lightgreen;
  font-size: 20px;
}
.skill-detail {
  display: flex;
  justify-content: space-between;
}
.skill-edulogo {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.skill-school {
  color: #4dbfd9;
}
.skill-text {
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .skill-main {
    grid-template-columns: 1fr;
  }
  .skill-school {
    white-space: nowrap;
  }
}
@media screen and (max-width: 539px) {
  .skill-school {
    max-width: 100px;
  }
}

.project {
  display: block;
}
.project-main {
  padding: 30px 0;
}
.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 50px;
}
.project-item {
  margin-top: 20px;
}
.project-heading {
  color: #ec5252;
}
.project-web {
  margin-top: 15px;
  width: 350px;
}
.project-link {
  margin-bottom: 6px;
}
@media screen and (max-width: 767px) {
  .project-list {
    grid-template-columns: 1fr;
  }
  .project-web {
    width: auto;
  }
}
@media screen and (max-width: 539px) {
  .project-link {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 375px) {
  .project-item {
    max-width: 320px;
  }
}

.footer {
  display: block;
  padding-bottom: 50px;
}
.footer-main {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 50px;
}
.footer-item {
  max-width: 500px;
}
.footer-heading {
  text-align: center;
}
.footer-text {
  color: #686f7a;
  text-align: center;
}
.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link {
  transition: all 0.5s;
  color: #000000;
  margin: 0 15px;
}
.footer-reseverd {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 539px) {
  .footer-main {
    grid-template-columns: 1fr;
    grid-gap: 10px 0;
  }
}

#audioButton {
  position: fixed;
  top: 3%;
  left: 1%;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 7px 7px;
  border: 1px solid #000000;
  background-color: transparent;
  display: none;
}
#audioButton:focus {
  outline: none;
}
@media screen and (max-width: 1599px) {
  #audioButton {
    display: block;
  }
}

.btn-shine {
  position: fixed;
  bottom: 10%;
  right: -6%;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, rgba(0, 255, 0, 0.973) 40%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@media screen and (max-width: 1599px) {
  .btn-shine {
    display: none;
  }
}

#myAudio {
  position: fixed;
  bottom: 6%;
  right: 2%;
  width: 200px;
  opacity: 0.5;
}
@media screen and (max-width: 1599px) {
  #myAudio {
    visibility: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .myAudio {
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
