.about {
    display: block;
    &-main {
        padding: 30px 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 50px;
    }
    &-info {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-gap: 0 10px;
    }

    &-paragraph {
        text-align: justify;
    }
    &-text {
        color: $gray-4;
    }
}
