.experience {
  display: block;
  &-main {
    padding: 30px 0;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 0 50px;
  }
  &-child {
    margin-bottom: 10px;
    .progress {
      height: 3px;
    }
  }
  &-company-logo {
    margin-right: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid lightsteelblue;
    border-radius: 50%;
  }
  &-role {
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 5px;
  }
  &-ul {
    padding-left: 20px;
  }
  &-liBlack::marker {
    color: black;
    font-size: 20px;
  }
  @include maxW(767px) {
    &-ul {
      text-align: justify;
      list-style: none;
      padding-left: 0;
    }
  }
}
