.myFooter {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    .footer_content {
        background-color: transparent;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 35px;
        padding-right: 35px;
        h4 {
            @include text($color-black-0, $fs-2, $fw-bold);
        }
        h6 {
            @include text($color-gray-4, $fs-1, $fw-normal);
        }
        br {
            display: none;
        }
        .contact {
            margin-top: 20px;
            a {
                i {
                    margin: 5px 15px;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 0.5s;
                    color: black;
                    &:hover {
                        color: lightblue;
                    }
                }
            }
        }
        .copyright {
            h5 {
                margin-bottom: 0;
                @include text($color-black-0, $fs-0, $fw-normal);
                i {
                    margin: 10px 10px;
                }
            }
        }
        @include respond-to("576") {
            .row {
                .gmail {
                    br {
                        display: block;
                    }
                }
            }
        }
    }
}
