.info {
    display: block;
    padding-top: 300px;
    &-main {
        padding: 15px 0;
        background: url("./../../images/bg-2.jpg") no-repeat top / 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    &-portrait {
        display: block;
        max-width: 100%;
    }
    &-content {
        text-align: center;
    }
    &-name {
        font-size: 40px;
        font-weight: bold;
        color: $white-0;
        margin-bottom: 15px;
    }
    &-job {
        font-size: 13px;
        font-weight: bold;
        color: $white-0;
        margin-bottom: 25px;
    }
    &-link {
        transition: all 0.5s;
        color: $white-0;
        margin: 0 5px;
    }
    &-resume {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
