//font
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Caprasimo", cursive;
// variable color
$white-0: #fff;
$black-0: #000000;
$white-cream-0: #f2f3f5;
$blue-0: #007791;
$blue-1: #4dbfd9;
$gray-4: #686f7a;
$red-0: #ec5252;
$green-0: #1cd94e;
